.SidebarWrapper {
    position: fixed;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    z-index: 15;
}

@media (min-width: 600px) {
    .SidebarWrapper {
        display: none;
    }
}

.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0, 0.9);
}

.HomeIcon {
    display: flex;
    justify-content: center;
}

.Sidebar > div {
    min-height: 60%;
    min-width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.Socials {
    width: 100%;
}
.SocialsInnerWrapper {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
}

.SocialIcon {
    font-size: 2.5rem;
    color: rgba(170, 170, 170, 0.788)
}
.SocialIcon:hover {
    color: cyan
}

.NavItems {
    display: flex;
    flex-direction: column;
}

.NavItem {
    font-size: 1.5em;
    font-family: 'Cabin', cursive;
    text-decoration: none;
    margin: 1rem 0;
    color: white;
    text-align: center;
}
.NavItem:hover {
    color: cyan
}